* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: white;
}

.header {
    background-color: #F6F6F7;
    padding: 8px;
}

.contents {
    margin: 40px 250px;
    display: flex;
    justify-content: space-between;
    gap: 60px;
}