* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: white;
    margin: 0;
}

.header {
    margin-top: 16px;
    background-color: #F6F6F7;
    padding: 8px;
    font-size: 11px;
    color: #888888;
    margin-left:0 ;
    margin-right: 0;
}

.contents {
    margin-top: 40px;
    margin-left: 170px;
    margin-right: 50px;
    display: flex;
}

h3 {
    margin-top: 0px;
    font-weight: lighter;
    font-size: larger;
    color: #222222;
}

hr {
    border: none;
    height: 0.1px;
    background-color: #F6F6F7;
}

p {
    font-size: 14px;
    color: #888888;
    font-weight: lighter;
}